body {
    background: #505050; /* цвет задника */
    border: #4d4d4d; 
    color: #f4f4f4; /* цвет шрифта страницы */
}

.header {
    background: #373737;
    color: #f4f4f4; 
}

.slider {
	background: #505050;
}
.slider::-webkit-slider-thumb {
	border-color: #b4b4b4;
	background: #b4b4b4;
}
.slider:focus::-webkit-slider-runnable-track { background: #272727; }
.slider::-webkit-slider-runnable-track { background: #272727; }

.nav-item {
    color: #f4f4f4;
    background: #373737;
}

.nav-item:hover, .nav-item_active {
    background: #444;
}

#theme-button {
    color: #f4f4f4;
    background: #473030;
}

